/* init / reset */
@import './components/reset.css';
@import './components/variables.css';
@import './components/layout.css';
@import './components/utilities.css';
/* 3rd party */
@import './components/font-awesome.min.css';
/* components */

/* CUSTOM HOME PAGE CSS */
/* header */
/* hero */
/* about me */
/* services */
@import './components/services.css';

/* resume */
/* freelance */
/* portfolio */
/* testimonials */
@import './components/carousel.css';

/* blogs */
/* contact me */
/* footer */
footer.container {
  padding: 40px 0 0;
  color: #fff;
}
.copyright {
  display: inline-block;
  width: 100%;
  padding: 20px;
  border-top: 1px solid #fff;
}
