.title {
  text-transform: uppercase;
  text-align: center;
}

.center {
  text-align: center;
}
.text-left {
  text-align: left;
}

.bg-grey {
  background-color: var(--grey);
}
.bg-dark {
  background-color: var(--dark);
}
.bg-main {
  background-color: var(--main-color);
}
